.simple {
  min-height: 100vh;
  a {
    font-weight: 700;
    text-decoration: none;
  }
  @at-root #{&}__title {
    font-size: 4.5rem;
    font-weight: 700;
    span {
      color: #9f2d30;
    }
  }
}

.password-recovery {
  @at-root #{&}__text {
    text-align: justify;
  }
}
