//Detalles Evento
.detalles_cuerpo {
  margin-top: 2rem;
  color: black;
  section {
    width: 85%;
    margin: 0 auto;
  }
  .terminos {
    font-size: 0.8rem;
  }
  .bi-person-fill {
    font-size: 3rem;
  }
}
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 100%;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 92%;
  width: 80%;
  position: absolute;
  border: 0;
}

.btn-danger,
.btn-danger:hover {
  background-color: #9f2d30 !important;
  border: #9f2d30 !important;
}

#btnComprar {
  display: flex;
  justify-content: center;
}

.detail-eventops-body {
  padding: 1rem 1rem;
}
.detail-eventops-text {
  background-color: white;
}
